.footer
{
    border-top: 2px solid rgba(0, 0, 0, 0.24);  
}
div.card
{
    border-top: 1px solid rgb(255, 255, 115);
    background-color: #212529;
    color: white;
    border-radius: 0%;
}
div.textData
{
    color: gray;
}
div.card-body
{
    border-bottom: 1px solid rgb(255, 255, 115);
}
div.card-header
{
    border-bottom: 0px;
}